@import "tailwindcss";

@theme {
  --color-primary: #FD853A;
  --color-secondary: #1D2939;
  --color-text: #1D2939;
  --color-black-bg: #272727;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
